

<div style="text-align:center">
  <h1>
    Welcome to Jeopardy !
  </h1>  

<h1>Catagory:{{questionInfo?.category.title}}</h1>
<h1>Point Value:{{questionInfo?.value}}</h1>
<h1>Question:{{questionInfo?.question}}</h1>
</div>
Enter Your Answer: 
<input [(ngModel)]="playerAnswer">
<button (click)="clickSubmit()">submit your answer</button>
<br>

<div *ngIf="hasAnswered">
  <h1>App Answer:{{questionInfo?.answer}}</h1>
</div>

<h1>Score</h1> {{playerTotal}}
<button (click)="getDataFromService()">Next Question</button>




